.about__wrapper {
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 15px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 50px 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 70px 100px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 702px auto;
    column-gap: 40px;
  }
}

.about__description {
  p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 26px;
    }

    @media (min-width: $desktop-width) {
      font-size: 22px;
      line-height: 32px;
    }
  }
}

.about__title {
  @include h2;

  color: $basic-blue;
  margin: 0;
  margin-bottom: 15px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.about__target {
  h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $basic-blue;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;

    @media (min-width: $tablet-width) {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 40px;
    }
  }

  p {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    margin: 0;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 40px;
      max-width: 498px;
    }

    @media (min-width: $desktop-width) {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 50px;
    }
  }
}

.about__link {
  @include button;
  @include arr-thick;

  text-decoration: none;
  padding: 13px 21px;
  padding-right: 59px;
  background-color: transparent;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 40px;
  display: block;
  max-width: 223px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 21px 31px;
    padding-right: 81px;
    max-width: 279px;
  }
}
