.contacts {
  background-color: $basic-blue;
}

.contacts__wrapper {
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 70px 15px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 100px 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 120px 100px;
    display: grid;
    grid-template-columns: 586px auto;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1242px;
      height: 2px;
      background-color: rgb(255, 255, 255, 0.2);
      top: 248px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  picture {
    @media (min-width: $desktop-width) {
      grid-column: 1/3;
    }
  }
}

.contacts__title {
  @include h2;

  color: $basic-white;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.contacts__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 62px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255, 0.2);
    bottom: -30px;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.contacts__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: rgb(240, 239, 233, 0.8);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.contacts__info {
  font-size: 14px;
  line-height: 20px;
  color: $basic-white;
  margin: 0;
  text-decoration: none;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
    max-width: 263px;
  }

  &--tel:hover,
  &--mail:hover {
    color: rgb(255, 255, 255, 0.7);
  }

  &--tel:focus-visible,
  &--mail:focus-visible {
    color: $basic-black;
    outline: none;
    border-bottom: 1px solid $basic-black;
  }

  &--tel:active,
  &--mail:active {
    color: $basic-white;
    outline: none;
    border-bottom: 1px solid $basic-white;
  }
}
