.form {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 50px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 100px;
  }

  &--modal {
    padding: 0;
    height: 100%;
  }

  &--modal .form__content {
    background-color: $basic-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 100%;
  }

  &--modal .form__title {
    line-height: 18px;
    color: $basic-blue;
    text-align: center;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  &--modal .form__text {
    color: $basic-black;
    text-align: center;
    max-width: 220px;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      min-width: 350px;
      margin-bottom: 30px;
    }
  }

  &--modal .form__label {
    color: rgb(72, 72, 72, 0.8);
    margin-bottom: 8px;

    @media (min-width: $tablet-width) {
      margin-bottom: 12px;
    }
  }

  &--modal .form__input {
    height: 44px;
    border-color: rgb(72, 72, 72, 0.3);
    color: $basic-black;

    @media (min-width: $tablet-width) {
      height: 50px;
    }
  }

  &--modal .form__input:hover,
  &--modal .form__input:active,
  &--modal .form__input:focus-visible {
    box-shadow: 0 0 0 1px $basic-black;
    background-color: transparent;
    outline: none;
  }

  &--modal .form__input:disabled {
    background-color: rgb(169, 175, 183, 0.2);
    box-shadow: 0 0 0 1px rgb(169, 175, 183, 0.5);
    pointer-events: none;
  }

  &--modal .form__input--error {
    background-color: rgb(255, 94, 102, 0.2);
    box-shadow: 0 0 0 1px $error;
  }

  &--modal .form__input--error::before {
    background-color: rgb(255, 94, 102, 0.2);
    box-shadow: 0 0 0 1px $error;
  }

  &--modal .form__input:checked + .form__agreement::before {
    background-color: $basic-blue;
  }

  &--modal .form__input:checked:hover:not(:disabled) + .form__agreement::before {
    box-shadow: 0 0 0 1px $basic-blue;
  }

  &--modal .form__input:checked:hover:not(:disabled) + .form__agreement::after {
    background-color: $basic-blue;
  }

  &--modal .form__item {
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 25px;

      @media (min-width: $tablet-width) {
        margin-bottom: 30px;
      }
    }
  }

  &--modal .form__agreement {
    color: rgb(72, 72, 72, 0.9);
  }

  &--modal .form__agreement br {
    display: none;
  }

  &--modal .form__agreement::before {
    background-color: transparent;
    box-shadow: 0 0 0 1px rgb(49, 109, 194, 0.7);
  }

  &--modal .form__agreement:hover::before {
    box-shadow: 0 0 0 1px $basic-blue;
  }

  &--modal .form__checkbox:disabled + .form__agreement::before {
    box-shadow: 0 0 0 1px $basic-blue;
    background-color: rgb(49, 109, 194, 0.6);
  }

  &--modal .form__button {
    @include light-button;

    border-color: $basic-blue;
    color: $basic-blue;

    @media (min-width: $tablet-width) {
      max-width: 194px;
    }
  }

  &--modal .form__button::before {
    background-color: $basic-blue;
  }

  &--modal .form__button::after {
    background-color: $basic-white;
  }

  &--modal .form__toggle {
    width: 15px;
    height: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    z-index: 1;
    border: none;
    cursor: pointer;
    background-color: transparent;

    @media (min-width: $tablet-width) {
      width: 22px;
      height: 22px;
      top: 30px;
      right: 30px;
    }
  }

  &--modal .form__toggle::before,
  &--modal .form__toggle::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 18px;
    background-color: $basic-blue;
    top: 0;
    border-radius: 2px;
    transform: rotate(45deg);
  }

  &--modal .form__toggle::after {
    transform: rotate(-45deg);
  }

  &--modal .form__checkbox {
    &:checked + .form__agreement::after {
      background-color: $basic-white;
    }
  }
}

.form__wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../img/form-mobile@2x.webp");
  padding: 43px 10px;
  padding-bottom: 40px;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    max-width: 652px;
    padding: 0;
    padding-right: 210px;
    margin: 0 auto;
    border-radius: 16px;
    background-image: url("../../img/form-tablet@2x.webp");
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    background-image: url("../../img/form-desktop@2x.webp");
  }
}

.form__content {
  max-width: 300px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 27px;
  background-color: $basic-blue;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 41px 40px;
    padding-bottom: 36px;
    max-width: 442px;
  }

  @media (min-width: $desktop-width) {
    max-width: 490px;
    padding: 40px 70px;
    padding-top: 44px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form__title {
  @include h2;

  font-size: 18px;
  line-height: 22px;
  color: $basic-white;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 34px;
  }
}

.form__text {
  font-size: 14px;
  line-height: 20px;
  color: $basic-grey;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.form__item {
  margin-bottom: 20px;

  textarea {
    height: 94px;
    resize: none;
  }

  &--checkbox {
    display: flex;
    column-gap: 10px;
  }
}

.form__label {
  font-size: 12px;
  line-height: 14px;
  color: rgb(240, 239, 233, 0.8);
  margin-bottom: 12px;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $basic-grey;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus-visible {
    box-shadow: 0 0 0 1px $basic-white;
    background-color: transparent;
    outline: none;
  }

  &:disabled {
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: 0 0 0 1px rgb(255, 255, 255, 0.4);
    pointer-events: none;
  }

  &--error {
    background-color: rgb(255, 94, 102, 0.2);
    box-shadow: 0 0 0 1px $error;
  }

  &--error + .form__agreement::before {
    background-color: rgb(255, 94, 102, 0.2);
    box-shadow: 0 0 0 1px $error;
  }
}

.form__agreement {
  font-size: 12px;
  line-height: 14px;
  color: rgb(255, 255, 255, 0.9);
  position: relative;
  padding-left: 30px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    line-height: 12px;
  }

  br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 1px rgb(255, 255, 255, 0.7);
    border-radius: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &:hover::before,
  &:focus-visible::before {
    box-shadow: 0 0 0 1px $basic-white;
  }
}

.form__button {
  @include button;
  @include arr-thick;
  @include blue-button;

  padding: 16px 31px;
  padding-right: 69px;
  width: 100%;
  background-color: transparent;
  color: $basic-white;
  border-color: $basic-white;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 21px 31px;
    padding-right: 69px;
  }

  &::before {
    background-color: $basic-white;
  }

  &::after {
    background-color: $basic-blue;
  }
}

.form__checkbox {
  &:checked + .form__agreement::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    mask-image: url("../__spritemap#sprite-check-view");
    mask-repeat: no-repeat;
    mask-size: 10px 10px;
    background-color: $basic-blue;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:checked + .form__agreement::before {
    background-color: $basic-white;
    box-shadow: none;
  }

  &:checked:focus-visible + .form__agreement::before,
  &:checked:hover + .form__agreement::before {
    background-color: transparent;
    box-shadow: 0 0 0 1px $basic-white;
  }

  &:checked:focus-visible + .form__agreement::after,
  &:checked:hover + .form__agreement::after {
    background-color: $basic-white;
  }

  &:checked:disabled + .form__agreement::before {
    background-color: $disabled;
    box-shadow: none;
    pointer-events: none;
  }

  &:checked:disabled + .form__agreement::after {
    background-color: rgb(255, 255, 255, 0.7);
  }

  &:disabled + .form__agreement::before {
    box-shadow: 0 0 0 1px $basic-white;
    background-color: rgb(255, 255, 255, 0.6);
    pointer-events: none;
  }

  &:disabled + .form__agreement {
    cursor: default;
  }
}

