.header {
  position: absolute;
  z-index: 1;
  width: 320px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.header__wrapper {
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 15px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 30px 45px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 30px 100px;
    padding-bottom: 0;
  }
}

.header__logo {
  width: 52px;
  height: 52px;
  background-color: $basic-white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.header__nav {
  position: relative;
  margin-left: auto;

  &--close::before,
  &--open::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    background-color: $basic-blue;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    z-index: 1;
    cursor: pointer;
  }

  &--close .header__list {
    overflow: none;
    opacity: 0;
    visibility: visible;
    margin: 0;
    transition: 0.3s;
    height: 0;
    padding: 0;
  }

  &--open .header__list {
    display: block;
    opacity: 1;
    transition: 0.3s;
    height: auto;

    @media (min-width: $tablet-width) {
      max-width: 286px;
    }
  }

  &--open::before {
    background-color: $basic-white;
  }
}

.header__list {
  list-style-type: none;
  margin: 0;
  padding: 35px 25px;
  background-color: $basic-blue;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 58px;
  left: 0;
  border-radius: 16px;
}

.header__programs-list {
  list-style-type: none;
  margin: 0;
  margin-top: 5px;
  padding-left: 16px;
}

.header__programs-item {
  margin-bottom: 7px;

  &:last-child {
    margin-bottom: 0;
  }
}

.header__link,
.header__programs-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.header__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.header__toggle {
  background-color: $basic-white;
  border: 1px solid $basic-blue;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $basic-blue;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;
  padding: 20px;
  padding-right: 70px;
  position: relative;
  transition: 0.3s;
  text-align: left;

  &--close::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: $basic-white;
    top: 50%;
    transform: translateY(-50%);
    right: 19px;
    box-shadow: 0 4px 0 0 $basic-white, 0 -4px 0 0 $basic-white;
    z-index: 2;
    border-radius: 50px;
  }

  &--open {
    background-color: $basic-blue;
    color: $basic-white;
    padding-right: 226px;
    transition: 0.3s;

    @media (min-width: $tablet-width) {
      padding-right: 222px;
    }
  }

  &--open::after,
  &--open::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 1px;
    background-color: $basic-blue;
    right: 15px;
    transform: rotate(45deg);
    z-index: 2;
    top: 50%;
  }

  &--open::before {
    transform: rotate(-45deg);
  }
}
