.news__wrapper {
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 51px 15px;
  padding-right: 0;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 50px 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 60px 100px;
  }
}

.news__title {
  @include h2;

  color: $basic-blue;
  text-align: center;
  margin-bottom: 21px;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.news__tab-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: rgb(49, 109, 194, 0.6);
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 20px;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 12px 22px;
  }

  &--current {
    border: 2px solid $basic-blue;
    border-radius: 20px;
    color: $basic-blue;
  }

  &:hover {
    color: $basic-blue;
    transition: 0.1s;
  }

  &:focus-visible {
    background-color: $basic-white;
    color: $basic-blue;
    transition: 0.1s;
    outline: none;
  }
}

.news__tabs {
  margin-bottom: 26px;
  min-height: 36px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    min-height: 42px;
  }

  @media (min-width: $desktop-width) {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.news__tab {
  max-width: fit-content;
}

.news__container {
  overflow: hidden;
}

.news__slider {
  padding-right: 15px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }
}

.news__list {
  margin-bottom: 24px;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
  }
}
