.news__wrapper {
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 15px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 50px 45px;
  }
}

.news__title {
  @include h2;

  color: $basic-blue;
  text-align: center;
  margin-bottom: 24px;
}

.news__tab-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: rgb(49, 109, 194, 0.6);
  text-transform: uppercase;
  padding: 8px 16px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 12px 22px;
  }

  &--current {
    border: 2px solid $basic-blue;
    border-radius: 20px;
    color: $basic-blue;
  }
}

.news__tabs {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
  }
}
