.page-body {
  position: relative;

  &--overlay .header__logo::before,
  &--modal .header__logo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    z-index: 1;
    border-radius: 50%;
  }

  &--modal .header__logo::before {
    display: none;
  }

  &--overlay::before,
  &--modal::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    z-index: 2;
  }

  &--modal::before {
    z-index: 3;
  }
}
