.page-body {
  position: relative;

  &--overlay {
    overflow: hidden;
  }

  &--overlay .header__logo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    z-index: 1;
    border-radius: 50%;
  }

  &--overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    z-index: 2;
  }
}
