.programs-card {
  padding: 18px 10px;
  background-color: $basic-blue;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border-radius: 12px;

  @media (min-width: $tablet-width) {
    max-width: 324px;
    min-height: 420px;
    padding: 10px 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 392px;
    padding-bottom: 17px;
  }

  &--one,
  &--four {
    background-image: url("../../img/programs-mobile-1@2x.webp");

    @media (min-width: $tablet-width) {
      background-image: url("../../img/programs-tablet-1@2x.webp");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/programs-desktop-1@2x.webp");
    }
  }

  &--two,
  &--five {
    background-image: url("../../img/programs-mobile-2@2x.webp");

    @media (min-width: $tablet-width) {
      background-image: url("../../img/programs-tablet-2@2x.webp");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/programs-desktop-2@2x.webp");
    }
  }

  &--three {
    background-image: url("../../img/programs-mobile-3@2x.webp");

    @media (min-width: $tablet-width) {
      background-image: url("../../img/programs-tablet-3@2x.webp");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/programs-desktop-3@2x.webp");
    }
  }
}

.programs-card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $basic-blue;
  margin: 0;
  padding: 18px;
  padding-bottom: 6px;
  padding-right: 35px;
  background-color: $basic-white;
  max-width: 146px;
  border-radius: 12px 12px 0 0;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 14px;
    padding: 18px;
    padding-right: 38px;
    padding-bottom: 6px;
    max-width: 173px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 17px;
    max-width: 194px;
    min-height: 41px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("../__spritemap#sprite-corner-news-view");
    background-repeat: no-repeat;
    left: 100%;
    bottom: 0;
  }
}

.programs-card__link {
  @include arr-thick;
  @include link;

  width: 30px;
  height: 30px;
  background-color: $basic-blue;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 2px);
  transform: translateY(-50%);
  right: 18px;

  &::after {
    right: 11px;
  }
}

.programs-card__description {
  position: relative;

  p {
    font-size: 12px;
    line-height: 14px;
    padding: 13px 18px;
    padding-bottom: 14px;
    padding-right: 77px;
    background-color: $basic-white;
    margin: 0;
    border-radius: 0 12px 12px;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 20px;
      padding: 12px 18px;
      padding-right: 64px;
      padding-bottom: 15px;
    }

    @media (min-width: $desktop-width) {
      line-height: 18px;
      padding-right: 57px;
      max-width: 321px;
      box-sizing: border-box;
      min-height: 82px;
      display: flex;
      align-items: center;
    }
  }
}

