.programs__wrapper {
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 15px;
  display: grid;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 50px 45px;
    display: grid;
    row-gap: 40px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 60px 100px;
    justify-content: space-between;
  }
}

.programs__title {
  @include h2;

  margin-bottom: 35px;
  color: $basic-blue;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.programs__link {
  @include button;
  @include arr-thick;

  order: 1;
  position: relative;
  padding: 14px 31px;
  padding-right: 69px;
  text-decoration: none;
  background-color: transparent;
  max-width: 205px;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    padding: 21px 31px;
    padding-right: 81px;
    font-size: 14px;
    line-height: 14px;
    max-width: 234px;
  }
}

.programs__slider {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }
}
