.reviews__wrapper {
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 55px 15px;
  padding-bottom: 50px;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 50px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 60px 100px;
  }
}

.reviews__title {
  @include h2;

  color: $basic-blue;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.reviews__slider {
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.reviews__list {
  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}
