.reviews-card {
  padding: 30px 15px;
  padding-bottom: 22px;
  border: 2px solid $basic-blue;
  border-radius: 16px;
  box-sizing: border-box;
  min-height: 472px;

  @media (min-width: $tablet-width) {
    max-width: 560px;
    padding: 50px;
    padding-bottom: 40px;
    min-height: 417px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 46px;
    max-width: 604px;
    min-height: 483px;
  }

  dl {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1/3;
    max-width: 200px;
    margin-bottom: 25px;
    column-gap: 18px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      margin-left: auto;
      column-gap: 26px;
      max-width: none;
    }

    @media (min-width: $desktop-width) {
      max-width: none;
      margin-top: 1px;
    }
  }

  dt {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: $basic-blue;
    margin-bottom: 9px;

    @media (min-width: $tablet-width) {
      margin-bottom: 10px;
    }
  }

  dd {
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    grid-row: 2;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width) {
      line-height: 18px;
    }
  }

  p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
    }

    @media (min-width: $desktop-width) {
      line-height: 26px;
    }
  }
}

.reviews-card__info {
  display: grid;
  grid-template-columns: 60px auto;
  column-gap: 10px;
  row-gap: 16px;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 31px;
    column-gap: 15px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 14px;
    margin-bottom: 30px;
  }

  picture {
    height: 60px;

    @media (min-width: $tablet-width) {
      height: 90px;
    }
  }
}

.reviews-card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $basic-blue;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 25px;
  }
}

.reviews-card__name {
  font-size: 14px;
  line-height: 18px;
  color: $basic-blue;
  max-width: 40px;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-top: 1px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-top: 0;
  }
}
