.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 98px;
  column-gap: 10px;
  order: 2;

  @media (min-width: $tablet-width) {
    grid-row: 2/4;
    max-width: 128px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1;
    grid-column: 3;
    margin-left: auto;
  }
}

.social__link {
  width: 26px;
  height: 26px;
  background-color: $basic-blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 36px;
    height: 36px;
  }
}
