// Шрифты
@mixin font-face($font-family, $font-weight, $font-style, $font-display, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: $font-display;
    src: $font-src;
  }
}

//Кнопки
@mixin button {
  background-color: $basic-white;
  border: 1px solid $basic-blue;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $basic-blue;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    background-color: $basic-blue;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
  }
}

//Заголовки
@mixin h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}

//Стрелочки
@mixin arr-thin {
  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    mask-image: url("../__spritemap#sprite-arr-view");
    mask-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    background-color: $basic-white;
  }
}

@mixin arr-thick {
  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    mask-image: url("../__spritemap#sprite-arr-thick-view");
    mask-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    background-color: $basic-white;
  }
}
