// Шрифты
$primary-font: "Manrope", "arial", sans-serif;

// Цвета
$basic-black: #484848;
$basic-white: #ffffff;
$basic-grey: #f0efe9;
$basic-blue: #316dc2;
$button-active: #275699;
$disabled: #a9afb7;
$error: #ff5e66;
$overlay: rgb(13, 29, 51, 0.4);

// Размеры вьюпортов
$tablet-width: 768px;
$desktop-width: 1440px;
